@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body,
	html {
		height: 100%;
	}
	body {
		display: grid;
		@apply bg-gray-100;
	}
}


@layer components {
	.profile {
		grid-template-areas:
			"welcome welcome welcome"
			"passwordChange emailChange allSessions";
	}
	.welcome {
		grid-area: welcome;
	}
	.passwordChange {
		grid-area: passwordChange;
	}
	.emailChange {
		grid-area: emailChange;
	}
	.allSessions {
		grid-area: allSessions;
	}
}